
{% assign set = section.settings %}

{%- capture content -%}
  <div class="footer-cta__content">
    <h2 class="title">
      <span class="ff-{{ set.titlefont}}" style="color: {{ set.titlecolor }}; font-family: {{ set.titlefont }}">{{ set.title }}</span>
      <span class="ff-{{ set.titlefont2}}" style="color: {{ set.titlecolor2 }}; font-family: {{ set.titlefont2 }}">{{ set.title2 }}</span>
    </h2>
    {% include 'button', {
      top: set.btntop,
      color: set.btnc,
      colorH: set.btnc_h,
      bg: set.btnbg,
      bgH: set.btnbg_h,
      border: set.btnb,
      borderH: set.btnb_h,
      id: section.id,
      text: set.btn,
      url: set.btnu,
      class: 'btn--transparent'
    } %}
  </div>
{%- endcapture -%}

{%- capture image -%}
  <div class="footer-cta__image {% if set.image_pos == 'left' %}pos-left{% endif %} ">
    <img alt="{{ set.alt }}" class="footer-cta__photo" src="{{ set.image | img_url: 'master' }}">
  </div>
{%- endcapture -%}

{% if template.name == 'blog' or template.name == 'article' or set.visible == false %}
  {% assign hidden = true %}
{% endif %}

<div class="footer-cta" data-animate-section>
  <div class="footer-cta__inner" style="background-color: {{ set.sectionbg }};">
    {% if set.image_pos == 'left' %}
      {{ image }} {{ content }}
    {% elsif set.image_pos == 'right' %}
      {{ content }} {{ image }}
    {% endif %}
  </div>
</div>

{% if hidden %}
  <script>
    try {
      document.body.classList.add("footer-cta-hidden");
    } catch (error) {
      console.error("Issue within ea-footer-cta.liquid", error);
    }
  </script>
{% endif %}

{% schema %}

{
  "name": "Footer CTA",
  "settings": [
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Section background color",
      "default": "#ffffff"
    },
    {
      "type": "checkbox",
      "id": "visible",
      "label": "Show section",
      "default": true
    },
    {
      "id": "title",
      "type": "text",
      "label": "Title 1",
      "default": "Title"
    }, {
      "type": "color",
      "id": "titlecolor",
      "label": "Color For Title 1",
      "default": "#000000"
    }, {
      "type": "select",
      "id": "titlefont",
      "options": [
        {
          "value": "proxima",
          "label": "Proxima Nova, sans-serif"
        }, {
          "value": "utopia",
          "label": "UtopiaStd Disp, serif"
        }, {
          "value": "cursive",
          "label": "Seaweed Script, cursive"
        }, 
        {
          "value": "ProximaNova-Light",
          "label": "ProximaNova-Light"
        },
        {
          "value": "ProximaNova-SemiboldIt",
          "label": "ProximaNova-SemiboldIt"
        },
        {
          "value": "ProximaNova-Bold",
          "label": "ProximaNova-Bold"
        },
        {
          "value": "ProximaNova-Extrabld",
          "label": "ProximaNova-Extrabld"
        },
        {
          "value": "ProximaNova-Black",
          "label": "ProximaNova-Black"
        },
        {
          "value": "ProximaNovaACond-Regular",
          "label": "ProximaNovaACond-Regular"
        },
        {
          "value": "ProximaNovaCond-Semibold",
          "label": "ProximaNovaCond-Semibold"
        },
        {
          "value": "ProximaNovaACond-Bold",
          "label": "ProximaNovaACond-Bold"
        },
        {
          "value": "ProximaNovaACond-Black",
          "label": "ProximaNovaACond-Black"
        }
      ],
      "default": "proxima",
      "label": "Font For Title 1"
    }, {
      "id": "title2",
      "type": "text",
      "label": "Title 2",
      "default": "Title"
    }, {
      "type": "color",
      "id": "titlecolor2",
      "label": "Color For Title 2",
      "default": "#000000"
    }, {
      "type": "select",
      "id": "titlefont2",
      "options": [
        {
          "value": "proxima",
          "label": "Proxima Nova, sans-serif"
        }, {
          "value": "utopia",
          "label": "UtopiaStd Disp, serif"
        }, {
          "value": "cursive",
          "label": "Seaweed Script, cursive"
        }, 
        {
          "value": "ProximaNova-Light",
          "label": "ProximaNova-Light"
        },
        {
          "value": "ProximaNova-SemiboldIt",
          "label": "ProximaNova-SemiboldIt"
        },
        {
          "value": "ProximaNova-Bold",
          "label": "ProximaNova-Bold"
        },
        {
          "value": "ProximaNova-Extrabld",
          "label": "ProximaNova-Extrabld"
        },
        {
          "value": "ProximaNova-Black",
          "label": "ProximaNova-Black"
        },
        {
          "value": "ProximaNovaACond-Regular",
          "label": "ProximaNovaACond-Regular"
        },
        {
          "value": "ProximaNovaCond-Semibold",
          "label": "ProximaNovaCond-Semibold"
        },
        {
          "value": "ProximaNovaACond-Bold",
          "label": "ProximaNovaACond-Bold"
        },
        {
          "value": "ProximaNovaACond-Black",
          "label": "ProximaNovaACond-Black"
        }
      ],
      "default": "proxima",
      "label": "Font For Title 2"
    }, {
      "id": "image",
      "type": "image_picker",
      "label": "Main image"
    }, {
      "id": "alt",
      "type": "text",
      "label": "Main image alt text",
      "default": "image"
    }, {
      "type": "select",
      "id": "image_pos",
      "options": [
        {
          "value": "left",
          "label": "Left"
        }, {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Main image position"
    }, {
      "type": "header",
      "content": "button"
    },
    {
      "type": "range",
      "id": "btntop",
      "label": "Top spacing",
      "min": -200,
      "max": 200,
      "step": 5,
      "default": 45
    }, {
      "id": "btnu",
      "type": "url",
      "label": "Button link"
    }, {
      "id": "btn",
      "type": "text",
      "label": "Button text",
      "default": "Enter text for button"
    }, {
      "id": "btnbg",
      "type": "color",
      "default": "#163b66",
      "label": "Background color"
    }, {
      "id": "btnc",
      "type": "color",
      "default": "#ffffff",
      "label": "Text color"
    }, {
      "id": "btnb",
      "type": "color",
      "default": "#163b66",
      "label": "Border color"
    }, {
      "id": "btnbg_h",
      "type": "color",
      "default": "#fff",
      "label": "Background color [hover]"
    }, {
      "id": "btnc_h",
      "type": "color",
      "default": "#163b66",
      "label": "Text color [hover]"
    }, {
      "id": "btnb_h",
      "type": "color",
      "default": "#163b66",
      "label": "Border color [hover]"
    }
  ],
  "presets": [
    {
      "name": "Footer CTA",
      "category": "Footer CTA"
    }
  ]
}

{% endschema %}
