<header
  data-section-id="{{ section.id }}"
  data-section-type="password-header"
  class="password-page__header"
  role="banner">

  <div class="password-page__logo">
    <h1 class="h2{% if section.settings.logo != blank %} password-page__logo-image{% endif %}" itemscope itemtype="http://schema.org/Organization">
      {% if section.settings.logo != blank %}
        {%- assign header_logo_size = section.settings.desktop_logo_width | append: 'x' -%}
        {%- assign header_logo_size_mobile = section.settings.mobile_logo_width | append: 'x' -%}
        {% style %}
          .password-page__logo h1 {
            max-width: {{ section.settings.mobile_logo_width }}px;
          }
          @media only screen and (min-width: 769px) {
            .password-page__logo h1 {
              max-width: {{ section.settings.desktop_logo_width }}px;
            }
          }
        {% endstyle %}
        <img
          class="small--hide"
          src="{{ section.settings.logo | img_url: header_logo_size }}"
          srcset="{{ section.settings.logo | img_url: header_logo_size }} 1x, {{ section.settings.logo | img_url: header_logo_size, scale: 2 }} 2x"
          alt="{{ section.settings.logo.alt | default: shop.name }}"
          itemprop="logo">
        <img
          class="medium-up--hide"
          src="{{ section.settings.logo | img_url: header_logo_size_mobile }}"
          srcset="{{ section.settings.logo | img_url: header_logo_size_mobile }} 1x, {{ section.settings.logo | img_url: header_logo_size_mobile, scale: 2 }} 2x"
          alt="{{ section.settings.logo.alt | default: shop.name }}">
      {% else %}
        <span>{{ shop.name }}</span>
      {% endif %}
    </h1>
  </div>

  <a href="#LoginModal" class="js-modal-open-login-modal btn btn--password btn--small">
    <span class="password__lock">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-lock" viewBox="0 0 17 20"><path fill="#FFF" d="M15.725 8.333H15.3V6.875C15.3 3.02 12.313 0 8.5 0 4.687 0 1.7 3.02 1.7 6.875v1.458h-.425C.571 8.333 0 8.893 0 9.583v9.167C0 19.44.571 20 1.275 20h14.45c.704 0 1.275-.56 1.275-1.25V9.583c0-.69-.571-1.25-1.275-1.25zM4.25 6.875C4.25 4.381 6.077 2.5 8.5 2.5s4.25 1.88 4.25 4.375v1.458h-8.5V6.875zm5.95 8.142c0 .91-.754 1.65-1.683 1.65h-.034c-.93 0-1.683-.74-1.683-1.65v-1.7c0-.911.754-1.65 1.683-1.65h.034c.93 0 1.683.739 1.683 1.65v1.7z"/></svg>
    </span>
    {{ 'general.password_page.password_link' | t }}
  </a>
</header>

{% schema %}
  {
    "name": "Header",
    "class": "password-header-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "desktop_logo_width",
        "label": "Desktop logo width",
        "default": 200,
        "min": 80,
        "max": 400,
        "step": 10,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "mobile_logo_width",
        "label": "Mobile logo width",
        "default": 140,
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "px",
        "info": "Set as a max-width, may appear smaller"
      }
    ]
  }
{% endschema %}
