{% assign set = section.settings %}
{% render 'section-styles', set: set, section: section %}

<div class="container">
  {% if set.pretitle != blank %}
    <h3 class="pretitle ta-center">{{ set.pretitle }}</h3>
  {% endif %}
  {% if set.title != blank %}
    <h2 class="title ta-center">{{ set.title }}</h2>
  {% endif %}
  {% if set.subtitle != blank %}
    <div class="subtitle ta-center">{{ set.subtitle }}</div>
  {% endif %}

  <div class="section__content">

    {%- capture cards -%}
      {%- for block in section.blocks -%}
        {%- if block.type == "card" -%}
          {%- assign bset = block.settings -%}
          <div class="card">
            <div class="card__inner">
              {% if bset.image != blank %}
                <div class="card__image"><img src="{{ bset.image | img_url: '300x' }}" alt=""></div>
              {% endif %}

              <div class="card__content m-primary" data-target="content-{{ block.id }}">
                <button class="btn m-icon-only card__slide-btn" data-toggle="content-{{ block.id }}"><i class="icon-caret-down"></i></button>

                {% if bset.title != blank %}
                  <h4 class="title m-black h3 not-animated">{{ bset.title }}</h4>
                {% endif %}
                {% if bset.text != blank %}
                  <div class="card__text">{{ bset.text }}</div>
                {% endif %}
              </div> <!-- /.card__content.m-primary -->
              <div class="card__content m-secondary" data-target="content-{{ block.id }}">
                <button class="btn m-icon-only card__slide-btn" data-toggle="content-{{ block.id }}"><i class="icon-caret-down"></i></button>

                {% if bset.info_title != blank %}
                  <h5 class="title m-black h3 not-animated">{{ bset.info_title }}</h5>
                {% endif %}
  
                {% if bset.info_text != blank %}
                  <div class="card__info-text">{{ bset.info_text }}</div>
                {% endif %}
  
                {%- capture card_benefits -%}
                  {%- for i in (1..4) -%}
                    {%- capture benefit -%}benefit_{{ i }}{%- endcapture -%}
                    {%- if bset[benefit] != blank -%}
                      <div class="card__benefit"><i class="icon-checkmark"></i>{{ bset[benefit] }}</div>
                    {%- endif -%}
                  {%- endfor -%}
                {%- endcapture -%}
                {%- if card_benefits != blank -%}
                  <div class="card__benefits">{{ card_benefits }}</div>
                {%- endif -%} <!-- /.card__benefits -->
  
                {%- capture card_sources -%}
                  {%- for j in (1..4) -%}
                    {%- capture source_label -%}source_{{ j }}_label{%- endcapture -%}
                    {%- capture source_text -%}source_{{ j }}_text{%- endcapture -%}
                    {%- if bset[source_label] != blank or bset[source_text] != blank -%}
                      <div class="card__source">
                        {%- if bset[source_label] != blank -%}
                          <div class="card__source-label">{{ bset[source_label] }}</div>
                        {%- endif -%}
                        {%- if bset[source_text] != blank -%}
                          <div class="card__source-text">{{ bset[source_text] }}</div>
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                  {%- endfor -%}
                {%- endcapture -%}
                {%- if card_sources != blank -%}
                  <div class="card__sources">{{ card_sources }}</div>
                {%- endif -%} <!-- /.card__sources -->
                
                {% if bset.btn != blank %}
                  <a href="{{ bset.btnu }}" class="btn m-underline">{{ bset.btn }}</a>
                {% endif %}
              </div>  <!-- /.card__content.m-secondary -->
            </div> <!-- /.card__inner -->
          </div> <!-- /.card -->
        {%- endif -%}
      {%- endfor -%}
    {%- endcapture -%}

    {% if cards != blank %}
      <div class="cards-grid">
        {{ cards }}
      </div> <!-- /.cards-grid -->
    {% endif %}
  </div> <!-- /.section__content -->
</div>  <!-- /.container -->