{% assign set = section.settings %}

{% render 'ea-section-styles', section: section %}

{% render 'ea-section-foreground-image', section: section %}

{% paginate collection.products by 12 %}
<div class="collection m-collection {% if set.gridType == 'singlerow'  %} m-singlerow {% endif %}">
  {% if collection.featured_image != blank %}
    <div class="banner"><img src="{{ collection.featured_image | img_url: '2000x' }}" alt="{{ collection.featured_image.alt }}"></div>
  {% endif %}
  <div class="container">
    {% if set.title != blank %}
      <h1 class="title h2 not-animated">{{ set.title }}</h1>
    {% elsif collection.title != blank %}
      <h1 class="title h2 not-animated">{{ collection.title }}</h1>
    {% endif %}
    {% if set.text != blank %}
      <div class="subtitle not-animated">{{ set.text }}</div>
    {% elsif collection.description != blank %}
      <div class="subtitle not-animated">{{ collection.description }}</div>
    {% endif %}
    <div class="section__content">
      <div class="products-grid">
        {% for product in collection.products %}
          <div class="product-cell-wrap">
            {% render 'product-cell', { product: product, showInfo: set.show_product_info, showDescr: true, showPrice: set.show_product_price, showBtn: false } %}
          </div>
        {% endfor %}
      </div> <!-- /.products-grid -->
      {% if paginate.pages > 1 %}
        <div class="collection__pagination">{% render 'pagination', paginate: paginate %}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endpaginate %}

{% unless context == 'product_recommendations' %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "OfferCatalog",
      "itemListElement": [
        {% for product in products limit: for_limit %}
          {
            "@type": "Product",
            "url": "{{ shop.url }}{{ product.url }}",
            "name": "{{ product.title }}",
            "mpn": "{{ product.id }}",
            "brand": {
              "@type": "Thing",
              "name": "{{ product.vendor }}"
            },
            "offers": {
              "@type": "Offer",
              "priceCurrency": "{{ shop.currency }}",
              "price": "{{ product.selected_or_first_available_variant.price | money_without_currency | remove: "," }}",
              "availability": "{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
              "priceValidUntil": "{{ 'now' | date: '%s' | plus: 31536000 | date: '%Y-%m-%d' | uri_encode | replace:'+','%20' }}",
              "url": "{{ shop.url }}{{ product.url }}",
              "seller": {
                "@type": "Organization",
                "name": "{{ shop.name }}"
              }
            },
            "description": "{{ product.description | strip_html | strip | escape }}",
            "image": "https:{{ product.featured_image | product_img_url: '450x450' }}"
            {%- if product.first_available_variant.sku != blank -%}
              ,"sku": "{{ product.first_available_variant.sku }}"
            {%- endif -%}
            {% if product.metafields.okendo.summaryData.reviewCount > 0 %}
            ,"aggregateRating": {
              "@type": "AggregateRating",
              "ratingValue": "{{ product.metafields.okendo.summaryData.reviewAverageValue }}",
              "ratingCount": "{{ product.metafields.okendo.summaryData.reviewCount }}"
            }
            {% elsif product.metafields.okendo.ReviewCount > 0 %}
            ,"aggregateRating": {
              "@type": "AggregateRating",
              "ratingValue": "{{ product.metafields.okendo.ReviewAverageValue }}",
              "ratingCount": "{{ product.metafields.okendo.ReviewCount }}"
            }
            {% endif %}
          } {%- unless forloop.last -%},{%- endunless -%}
        {% endfor %}
      ]
    }
  </script>
{% endunless %}