{% assign set = section.settings %}
<style>
  #shopify-section-{{ section.id }} {
    padding: {{ set.ptop }}px 0 {{ set.pbottom }}px;
    background-color: {{ set.sectionbg }};
  }
  @media (max-width: 989px) {
    #shopify-section-{{ section.id }} {
      padding: {{ set.ptop_mob }}px 0 {{ set.pbottom_mob }}px;
    }
  }
</style>
{% assign object = product.metafields.ingredients %}

{% if object.visible contains '["' %}
  {% assign visible = object.visible | replace: '["', '' | replace: '"]', '' | split: '","' %}
{% else %}
  {% assign visible = object.visible %}
{% endif %}

{% if object.image contains '["' %}
  {% assign image = object.image | replace: '["', '' | replace: '"]', '' | replace: '" ]', '' | replace: ' ]', ''  | replace: '"', '' | split: ',' %}
  <!-- {{ image }} -->
  <!-- ---- -->
  <!-- {{ image[0] }} -->
  <!-- {{ image[1] }} -->
  <!-- {{ image[2] }} -->
{% else %}
  {% assign image = object.image %}
{% endif %}


{% if object.title contains '["' %}
  {% assign title = object.title | replace: '["', '' | replace: '"]', '' | split: '","' %}
{% else %}
  {% assign title = object.title %}
{% endif %}

{% if object.text contains '["' %}
  {% assign text = object.text | replace: '["', '' | replace: '"]', '' | split: '","' %}
{% else %}
  {% assign text = object.text %}
{% endif %}




<div class="container m-size-2">
  {% if set.pretitle != blank %}
    <h3 class="pretitle ta-center">{{ set.pretitle }}</h3>
  {% endif %}
  {% if set.title != blank %}
    <h2 class="title ta-center">{{ set.title }}</h2>
  {% endif %}
  {% if set.subtitle != blank %}
    <div class="subtitle ta-center">{{ set.subtitle }}</div>
  {% endif %}

  <div class="section__content">

    {%- capture ingrItems -%}
      {% for ingr in (1..visible.size) %}
        {% assign i = forloop.index0 %}
        {% if visible[i] == 'true' %}
          <div class="col-md-4 ingr__item">
            <div class="ingr__item-inner">
              {% if image[i] != blank %}
                <div class="ingr__image"><img src="{{ image[i] }}" alt=""></div>
              {% endif %}
              {% if title[i] != blank %}
                <h4 class="ingr__title">{{ title[i] }}</h4>
              {% endif %}
              {% if text[i] != blank %}
                <div class="ingr__text">{{ text[i] }}</div>
              {% endif %}
            </div>
          </div>
        {% endif %}
      {%- endfor -%}
    {%- endcapture -%}

    {% if ingrItems != blank %}
      <div class="ingr__items">
        <div class="row">
          {{ ingrItems }}
        </div>
      </div>
    {% endif %}

    <div class="ingr__btn">
      {% render 'button', {
        top: set.btntop,
        id: section.id,
        text: set.btn,
        url: set.btnu,
        class: 'm-underline'
        data_attr: 'data-popup-open="ingredients"'
      } %}
    </div>
  </div> <!-- /.section__content -->
</div>  <!-- /.container -->


